body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #251b29;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    position: relative; 
    padding: 10px;
    background-color: #505050;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

header img {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #000000;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin:110;
    padding-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 10px 0; 
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
    transition: all 0.5s ease;
    position: relative;
}

nav a:hover {
    color: #000;
    background-color: #ffffff; 
}

#conteudo {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #3a2f43;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
}

.conteudo-escondido {
    display: none;
}
